.header {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  width: 68.75%;
  max-width: 880px;
  margin: 0 auto;
}

.header__logo {
  width: 19.66%;
}

.header__line {
  padding-top: 4.66%;
  width: 100%;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 35px;
    width: 80%;
    max-width: 581px;
  }

  .header__logo {
    width: 25%;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 28px;
    width: 100%;
  }

  .header__logo {
    width: 39.375%;
    margin-left: 8.4375%;
  }

  .header__line {
    padding-top: 10%;
  }
}
